html {
    font-size: 18px;
}
.container {
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
    padding: 20px;
    background-color: #004080;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #fff;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

h2 {
    color: #FFD700;
    margin-bottom: 15px;
    font-size: 2em;
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1.2em;
}
.button {
    background-color: #007BFF;
    font-family: Arial, sans-serif;
    color: white;
    width: 100%;
    text-align: center;
    align-self: center;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #0056b3;
}
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #D9F0FF;
    color: black;
}
input::placeholder, textarea::placeholder {
    color: #bbb;
}

.volatility {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*
.volatility-group, .account-type-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.volatility-options, .account-type-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.volatility-options label, .account-type-options label {
    margin-right: 10px;
}
.volatility-input, .account-type-input {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
    */
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .form {
        gap: 7px;
        max-width: 700px;
        padding: 15px;
        border-radius: 8px;
        margin: 15px;
    }
    .volatility {
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }
}

@media (max-width: 768px) and (min-width: 480px) {
    h1 {
        font-size: 24px;
    }
    button {
        width: 100%;
    }
    .form {
        gap: 4px;
        width: 80%;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
    }
    .volatility {
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }
    button {
        width: 100%;
    }
    .form {
        width: 70%;
        gap: 4px;
        padding: 5px;
        border-radius: 5px;
        margin: 8px;
    }
    .volatility {
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }
}