<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="body">

    <div class="container">
        <h1>Retirement Nest Egg Calculator</h1>
        <form class="form">
            <div class="form">
                <h2>Basic Assumptions</h2>
                <input type="number" name="current_age" placeholder="Current Age" required>
                <input type="number" name="retirement_age" placeholder="Retirement Age">
                <input type="text" name="years_in_retirement" placeholder="Years in Retirement">
                <input type="text" name="average_annual_return" placeholder="Average Annual Return">
                <input type="text" name="average_inflation_rate" placeholder="Average Inflation Rate">
                <div class="volatility">
                    <label>Volatility Level</label>
                    <div class="volatility">
                            <input type="radio" name="volatility" value=".05" id="volatility-low">
                            <label for="volatility-low">Low</label>
                            <input type="radio" name="volatility" value=".15" id="volatility-medium" checked>
                            <label for="volatility-medium">Medium</label>
                            <input type="radio" name="volatility" value=".3" id="volatility-high">
                            <label for="volatility-high">High</label>
                            <input type="radio" name="volatility" value=".5" id="volatility-high">
                            <label for="volatility-high">Extremely High</label>
                    </div>
                </div>
                <br>
                <h2>401k</h2>
                <input type="text" name="401k_balance" placeholder="401k Balance">
                <input type="text" name="monthly_contribution" placeholder="Monthly Contribution">
                <input type="text" name="company_match_percentage" placeholder="Company Match Percentage">
                <input type="text" name="max_contribution_match" placeholder="Maximum Contribution Match">
                <br>
                <h2>HSA</h2>
                <input type="text" name="hsa_balance" placeholder="HSA Balance">
                <input type="text" name="monthly_contribution_hsa" placeholder="Monthly Contribution">
                <input type="text" name="annual_company_contribution" placeholder="Annual Company Contribution">
                <br>
                <h2>IRA</h2>
                <input type="text" name="ira_balance" placeholder="IRA Balance">
                <input type="text" name="monthly_contribution_ira" placeholder="Monthly Contribution">
            </div>
            <div>
                <button type="submit" class="button">Calculate</button>
            </div>
        </form>
    </div>
    <script src="../static/home.js"></script>
</body>
</html>

